@import "./../designUtils/colors";

.signup {
	background-color: #f2eee9;
	border: 1px solid #eee;
	padding: 40px 40px;
	// gap: 20px;

	&__heading {
		font-size: 24px;
	}
	&__form {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		width: 100%;
		padding: 20px 20px;

		label {
			font-size: 0.8rem;
		}

		&__inputField {
			height: 50px;
			width: 100%;
			font-size: 18px;
			padding-left: 10px;
			margin-bottom: 10px;
			// gap: 20px;
		}
		&__button {
			height: 40px;
			width: 100%;
			color: $icon-color;
			background-color: $background-green;
			border-radius: 5px;
			border: none;
			margin-top: 20px;
			cursor: pointer;
		}
	}
	&__message {
		text-align: center;
		&__error span {
			color: #e02924;
		}
		&__terms {
			font-size: 0.8rem;
		}
	}
}
