@import "./../designUtils/colors";

.total {
	display: flex;
	flex-direction: column;
	width: 270px;
	height: 110px;
	padding: 20px;
	border-radius: 3px;
	min-width: 350px;
	text-align: center;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 1.5;

		&__total {
			font-weight: bold;
		}
		.zoomed {
			font-size: 30px;
		}
		.shipping-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 5px;
		}
	}
	.shipping-msg {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.shipping-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 5px;
		}
	}

	&__buttonStack {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column nowrap;
		margin-top: 20px;
		gap: 10px;
	}
}

.total > h2 {
	font-weight: 400;
}

.total > button:active {
	background-color: unset;
	border: 1px solid #ffd814;
}

@media (max-width: 800px) {
	.total {
		width: unset;
		text-align: center;
	}
}

@media (max-width: 900px) {
	.total {
		min-width: unset;
	}
}
