@import "./../designUtils/colors";

.menuItem {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: $icon-color;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu,
		Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
		Segoe UI Symbol;
	font-weight: 300;
	line-height: 30px;
	cursor: pointer;
	list-style-type: none;
	text-decoration: none;
	z-index: 1;

	&:hover {
		color: #000000;
		background-color: $icon-color;
		text-decoration: none;
	}

	&:hover .arrow {
		transform: rotate(3.142rad);
	}
}
