@import "./../designUtils/colors";

.btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border: none;
	font-size: 16px;
	letter-spacing: 0.1rem;
	transition: 0.25s;
	white-space: nowrap;
	overflow: hidden;
	align-items: center;

	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}

	&__arrow-icon {
		margin-left: 10px;
	}
}

.primary {
	background-color: $btn-primary-color;
	color: $btn-primary-text-color;
}

.dark:hover {
	background-color: #0b5b11;
	opacity: unset;
}

.outline-primary {
	background-color: inherit;
	border: 2px solid $btn-primary-color;

	&:hover {
		background-color: $btn-primary-color;
		color: $btn-primary-text-color;
	}
}

.outline-danger {
	background-color: $icon-color;
	color: red;
	border: 1px solid red;

	&:hover {
		background-color: red;
		color: $btn-primary-text-color;
	}
}

.rnd {
	border-radius: 20px;
}

.sq {
	border-radius: 5px;
}

.small {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	min-width: 200px;
	padding: 15px 20px;
	letter-spacing: 1px;
}

.medium {
	height: 45px;
	padding: 10px 20px;
	text-transform: uppercase;
}

.large {
	text-transform: uppercase;
	height: 47px;
	padding: 12px 20px;
}

.extend {
	width: 100%;
}

.disabled {
	opacity: 0.5;
	&:hover {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
