@import "./../designUtils/colors";

.imageSlider {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	-webkit-user-select: none;
	width: 530px;
	max-width: 530px;

	&__selected {
		position: relative;
		width: inherit;
		max-width: 530px;
		margin-bottom: 10px;

		&__item {
			position: relative;

			img {
				height: 530px;
				width: 530px;
				max-height: 530px;
				max-width: 530px;
			}
		}

		&__left {
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			font-size: 35px;
			cursor: pointer;
			background-color: #fffcef;
			opacity: 0.6;
		}

		&__right {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			font-size: 35px;
			cursor: pointer;
			background-color: #fffcef;
			opacity: 0.6;
		}
		.hide {
			visibility: hidden;
		}
	}

	&__collection {
		display: flex;
		justify-content: flex-start;
		flex-flow: row wrap;
		gap: 10px;

		&__item {
			height: 120px;
			width: 120px;
			padding: 2px;
			cursor: pointer;

			&__selected {
				height: 120px;
				width: 120px;
				border: 2px solid $background-green;
			}

			&:hover {
				opacity: 0.5;
				cursor: pointer;
			}
		}
	}
}
