@import "./../designUtils/colors";

.sticky-product-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	width: 100%;
	padding: 10px;
	position: fixed;
	top: 68px;
	left: 0px;
	background-color: $bg-color-solarizedLight;
	color: #1d1d1d;
	box-shadow: -1px 4px 10px 0px rgb(0 0 0 / 25%);
	z-index: 3;
	opacity: 1;
	transition: 0.3s ease-in-out;

	&__hide {
		visibility: hidden;
		opacity: 0;
	}

	&__image img {
		height: 80px;
		width: auto;
	}

	&__details {
		display: flex;
		flex-flow: column nowrap;
		font-weight: bold;

		&__title {
			font-size: 20px;
		}
		&__price {
			color: $btn-primary-color;
		}
	}
}
