@import "./../designUtils/colors";

.newsletterSubscription {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #dadada;
	padding: 40px 0;

	&__title {
		max-width: 400px;
		font-size: 30px;
		line-height: 1.5;

		h4 {
			font-weight: 400;
		}
		p {
			font-size: 16px;
		}
	}

	&__formInput {
		display: flex;
		align-items: flex-start;
		flex-flow: column nowrap;
		row-gap: 10px;

		&__name {
			display: flex;
			column-gap: 10px;
		}
		&__email {
			width: 100%;
		}
		input {
			height: 35px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			border: none;
			padding-left: 10px;

			&:focus {
				outline: none;
			}
			&:-webkit-autofill {
				background-color: transparent !important;
				-webkit-box-shadow: 0 0 0 50px white inset;
			}
		}
	}
}

@media (max-width: 750px) {
	.newsletterSubscription {
		display: flex;
		flex-direction: column wrap;
		&__formInput {
			input {
				width: 100%;
			}
		}
		&__title {
			margin-bottom: 30px;
		}
	}
}
