@import "./../designUtils/colors";

.newsletterSubscription {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	border-bottom: 1px solid #dadada;
	height: 200px;

	&__title {
		max-width: 400px;
		font-size: 30px;
		line-height: 1.5;

		h4 {
			font-weight: 400;
		}
		p {
			font-size: 16px;
		}
	}

	&__formInput {
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		background-color: $icon-color;
		height: 70px;
		padding: 0 20px;
		border-radius: 5px;

		input {
			height: 50px;
			width: 400px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			border: none;
			font-size: 18px;
			padding-left: 10px;

			&:focus {
				outline: none;
			}
		}
	}
}

@media (max-width: 750px) {
	.newsletterSubscription {
		display: flex;
		flex-direction: column wrap;
		&__formInput {
			input {
				width: 100%;
			}
		}
	}
}
