@import "./../designUtils/colors";

.newsletterSubscription {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	border-bottom: 1px solid #dadada;
	height: 200px;

	&__title {
		max-width: 400px;
		font-size: 30px;
		line-height: 1.5;

		h4 {
			font-weight: 400;
		}
		p {
			font-size: 16px;
		}
	}

	&__formInput {
		display: flex;
		align-items: center;
		flex-flow: row wrap;

		input {
			height: 45px;
			width: 300px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			border: 1px solid #eee;
			font-size: 18px;
			padding-left: 10px;

			&:focus {
				outline: none;
			}
		}

		.button {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: $background-green;
			color: $icon-color;
			height: 42px;
			width: 160px;
			font-weight: 200;
			border: none;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			padding: 0px 12px;
			cursor: pointer;

			.button-icon {
				font-size: 20px;
				background-color: $background-green;
				color: $icon-color;
				margin-left: 5px;
			}
		}
	}
}

@media (max-width: 750px) {
	.newsletterSubscription {
		display: flex;
		flex-direction: column wrap;
		&__formInput {
			input {
				width: 100%;
			}
			button {
				width: 100%;
			}
		}
	}
}
