@media (min-width: 780px) {
	.cart {
		display: flex;
		margin: 30px auto;
		height: max-content;
		padding: 20px 20px 0 20px;
		gap: 50px;
		flex: 1;

		&__left {
			padding: 20px;
			width: 100%;

			&__message {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				height: 80px;
				padding: 20px 0;
				margin: 30px 0;
				gap: 15px;
			}
		}

		&__left h3 {
			font-size: 32px;
			font-weight: 450;
			padding-bottom: 20px;
			border-bottom: 1px solid gainsboro;
		}

		&__title {
			margin-right: 10px;
			padding: 10px;
			border-bottom: 1px solid lightgray;
		}
	}
}

@media (max-width: 800px) {
	// .cart{
	//   flex-direction: column-reverse;
	//   margin: unset;

	//   &__left{
	//     width: calc(100% - 40px);
	//   }
	// }
}
