@import "./../designUtils/colors";

.product-card {
	display: flex;
	border-radius: 0.8rem;
	flex-direction: column;
	max-width: 260px;
	max-height: 460px;
	border: 0.1rem solid #eee;
	font-size: 14px;
	cursor: pointer;

	&:hover {
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}

	a {
		text-decoration: none;
		color: black;
		:hover {
			text-decoration: underline;
		}
	}

	&__sold-out-badge {
		background-color: #dfa02e;
		color: #1d1d1d;
		width: 80px;
		padding: 10px;
		position: relative;
		top: 15px;
		left: 15px;
	}

	&__canvas {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;

		img {
			max-width: 260px;
			max-height: 260px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 10px;

		&__choices {
			font-size: 0.7rem;
			margin-bottom: 8px;
			color: $link-color-secondary;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}

		&__title {
			margin-bottom: 8px;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
			span {
				margin-left: 5px;
			}
		}

		&__rating {
			color: $star-rating-color;
			margin-bottom: 5px;

			span {
				color: $text-color;
				padding-left: 8px;
			}
		}

		&__pricing {
			color: $text-color-alt;
			font-family: Work Sans, Noto Sans, Franklin Gothic Medium, Tahoma,
				sans-serif;
			font-weight: 600;
			font-size: 1.1rem;
		}

		&__message {
			font-size: 0.8rem;
			padding: 5px;
		}
	}

	.button {
		appearance: none;
		background-color: #fafbfc;
		border: 1px solid rgba(27, 31, 35, 0.15);
		border-radius: 6px;
		box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
			rgba(255, 255, 255, 0.25) 0 1px 0 inset;
		box-sizing: border-box;
		color: #24292e;
		cursor: pointer;
		display: inline-block;
		font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
			sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		list-style: none;
		padding: 6px 16px;
		position: relative;
		transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		vertical-align: middle;
		white-space: nowrap;
		word-wrap: break-word;
	}

	.button:hover {
		color: $icon-color;
		background-color: $background-green;
		text-decoration: none;
		transition-duration: 0.1s;
	}

	.button:disabled {
		background-color: #fafbfc;
		border-color: rgba(27, 31, 35, 0.15);
		color: #959da5;
		cursor: default;
	}

	.button:active {
		background-color: #edeff2;
		box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
		transition: none 0s;
	}

	.button:focus {
		outline: 1px transparent;
	}

	.button:before {
		display: none;
	}

	.button:-webkit-details-marker {
		display: none;
	}
}
