.home-page{
    margin: 0 50px;

    .emailNewsletter-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
}

@media (max-width: 750px){
    .home-page{
        margin: 0px;
    }
}