@import "./../../components/designUtils/colors";
@import "./../../components/designUtils/fontDesign";

.home-page {
	margin: 0 50px;

	&__featured-promotions {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 10px;
		margin: 30px 0;
		padding: 0 0 30px;

		&__item {
			border: 1px solid $border-color;
			border-radius: 5px;
			position: relative;

			&__image {
				height: 100%;
				width: 100%;
				border-radius: 5px;
			}

			&__content {
				position: absolute;
				bottom: 20px;
				left: 20px;
				color: $text-color;
				font-family: $font-stack-body;

				Button {
					text-transform: uppercase;
					font-size: 14px;
					max-width: 300px;
				}

				.mega-title {
					font-size: 54px;
				}
				h2 {
					margin-bottom: 8px;
					font-size: 30px;
					font-weight: normal;
				}
				p {
					margin: 0 280px 20px 0;
					max-width: 330px;
					font-size: 30px;
					line-height: 1.2;
				}
			}
		}
		&__item:nth-child(1) {
			grid-column: 1 / span 2;
			grid-row: 1 / span 2;
		}
		&__item:nth-child(3) {
			h2 {
				color: $text-color-light;
			}
		}
	}

	&__text {
		padding: 35px 0;
		font-size: 22px;
		font-weight: normal;
		text-align: center;
		line-height: 1.5;

		&__heading {
			margin-bottom: 18px;
			font-size: 30px;
		}

		&__content {
			margin: 0 100px;
			padding: 0 145px;
		}
	}
}

@media (max-width: 989px) {
	.home-page {
		margin: 0px;

		&__featured-promotions {
			display: block;

			&__item {
				height: 144px;
				margin-bottom: 14px;

				&:nth-child(1) {
					height: 220px;
				}

				&__image {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}

				&__content {
					p {
						font-size: 16px;
					}
					.mega-title {
						font-size: 34px;
					}
				}
			}
		}
	}
}
