@import "./../designUtils/colors";

.qty-picker-container {
	display: flex;
	align-items: center;
	height: 40px;
	width: 200px;
	margin: 10px 0;

	.qty-picker {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		border: 1px solid $border-color;
		border-radius: 3px;

		&__label {
			padding-right: 10px;
		}

		&__qty {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 80%;
			width: 40px;
		}

		button {
			height: 100%;
			width: 30px;
			background-color: inherit;
			border: none;
			font-size: 20px;

			&:hover {
				background-color: #eee;
				cursor: pointer;
			}
		}
		.not-allowed:hover {
			cursor: not-allowed;
		}
	}
}
