@import "./../designUtils/colors";

.sub-menu-item {
	background-color: $icon-color;
	color: $background-green;
	width: 200px;
	padding: 5px 15px;
	list-style-type: none;

	&:hover {
		text-decoration: underline;
	}
}
