.filter{
    width: 35vw;
    min-width: 250px;
    
    div{
        border-bottom: 1px solid lightgrey;
        margin: 0 15px;
        max-height: 300px;
        overflow-y: auto;

        li{
            list-style: none;

            a{
                text-decoration: none;
                &:hover{
                text-decoration: underline;
                }
            }
        }
    }
}