.tank{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    background-color: lightblue;
    border: 1px solid black;

    &__mate{
        display: flex;
        flex-direction: row;
        
        &__info{
           
        }
    }

    &__status{
        margin-top: auto;
        flex-grow: 1;
    }
    &__border{
        height: 8px;
        background-color: black;
    }
    .bad-status{
        color: red;
    }
    .good-status{
        color:green;
    }
}