@import '../designUtils/_colors.scss';

.navbar {

    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: $background-green;

    a {
        padding-left: 30px;
        text-decoration: none;
        color: $icon-color;
        &:visited {
            color: $icon-color;
        }
    }
    
    &__logo {
        color: $icon-color;
        
        &__icon {
            padding: 20px 10px 20px 10px;
        }

        &__title {
            position: absolute;
            top: 30px;
            font-size: 30px;
            font-weight: 600;
            text-align: center;
        }
    }

    &__menuExpand {
        display: block;
        position: relative;
        top: 20px;
    }

}

@media only screen and (max-width: 440px) {
    .navbar {
        
        &__menuExpand {
            display: block;
        }

        &__menuItems {
            display: none;
            color: $icon-color;
            &Mobile {
                position: absolute;
                top: 68px;
                left: 0;
                display: block;
                background-color: green;
                width: 100%;
                padding: 15px 0 0 0;
                text-align: center;
                border-bottom: 2px solid black;
                color: $icon-color;

                a {
                    display: block;
                    color: $icon-color;
                    // padding: 0 10px 0 0;
                    :visited {
                        color: $icon-color;
                    }
                }
                
            }
        }


    }
}