@import '../designUtils/_colors.scss';

.navbar {

    display: flex;
    justify-content: space-between;
    padding: 25px 10%;
    background-color: $background-green;

    a {
        padding-left: 30px;
        text-decoration: none;
        &:visited {
            color: black;
        }
    }

    &__menuExpand {
        display: block;
    }
}

@media only screen and (max-width: 440px) {
    .navbar {
        
        &__menuExpand {
            display: block;
        }

        &__menuItems {
            display: none;
            &Mobile {
                position: absolute;
                top: 68px;
                left: 0;
                display: block;
                background-color: green;
                width: 100%;
                padding: 15px 0 0 0;
                text-align: center;
                border-bottom: 2px solid black;

                a {
                    display: block;
                    // padding: 0 10px 0 0;
                }
            }
        }


    }
}