.carousel {
    margin:0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23E3C9;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}

