.tankmates {
	display: flex;
	flex-flow: column nowrap;
	width: 70%;
	border: 1px solid #eee;
	font-size: 22px;

	input {
		height: 40px;
		margin-bottom: 5px;
		font-size: 18px;
		border-radius: 5px;
		border: none;
		border-bottom: 1px solid black;
		padding-left: 15px;

		&:focus {
			outline: none;
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
		margin-left: 10px;
		border-bottom: 1px solid #efefef;
		padding: 0px 50px;

		&__pic img {
			height: 50px;
			width: 50px;
		}
		&__quantity {
			display: flex;
			flex-flow: row nowrap;
			column-gap: 10px;
			.button {
				cursor: pointer;
			}
		}
	}
}
