@import "../designUtils/colors.scss";

.speciesList {
	position: absolute;
	top: 223px;
	border-radius: 8px;
	background-color: $icon-color;
	box-shadow: 0px 2px 5px $shadow-gray;
	width: inherit;

	&__info {
		display: flex;
		flex-flow: row nowrap;
		padding-left: 10px;
		gap: 15px;
		cursor: pointer;

		&:hover {
			background-color: #eee;
		}

		&__pic img {
			height: 50px;
			width: 50px;
		}

		&__addSpecies {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
			padding: 0px 10px;
			border-radius: 5px;
			font-size: 16px;
			background-color: green;
			color: white;
			cursor: pointer;
		}
	}

	&__noResults {
		display: flex;
		height: 80vh;
		width: 100%;
		justify-content: center;
		align-items: center;
		margin: 0;
		font-weight: 600;
	}
}
