@import "./../designUtils/colors";

.productDetails {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 30px;

	&__image {
		grid-column: 1;
	}

	&__info {
		grid-column: 2;
		margin-left: 10px;
		padding: 10px;

		&__title {
			font-family: Poppins, Noto Sans, Franklin Gothic Medium, Tahoma,
				sans-serif;
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0.01em;
			line-height: 2.5rem;

			button {
				background-color: inherit;
				font-size: 12px;
				font-weight: 100;
				border: none;

				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
		&__rating {
			color: $star-rating-color;
		}
		&__price {
			color: $text-color-alt;
			font-size: 24px;
			font-weight: 700;
		}
		&__availability {
			margin: 10px 0px;
		}
	}

	&__specifications {
		grid-column: 1 / span 2;

		&__header {
			font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
				Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji,
				Segoe UI Emoji, Segoe UI Symbol;
			font-style: normal;
			font-size: 30px;
			font-weight: 200;
		}
	}

	&__new-review-form-wrapper {
		grid-column: 1 / span 2;
		width: 100%;
	}
	.green {
		color: green;
		font-size: 14px;
	}
	.red {
		color: red;
		font-size: 14px;
	}
}
