
$highlight-gray: #858585;
$shadow-gray: #B6B6B6;
$background-gray: #f9f9f9;  
$tab-background: #E0E0E0;
$border-color: #dadada;
$background-green: #006724;
$icon-color: #FFFFFF;
$button-color: #BE831D;
$text-color: #000000;
$link-color-secondary: #666;
$text-color-alt: #bc2848;
$background-dim: rgba(0,0,0,0.25);
$hover-background-color: rgba(231,238,239,0.9);
$text-color-secondary: #4d4d4d;
$link-color: #1c49c2;
$star-rating-color:#ff9800;
$button-dim-color: rgba(0, 0, 0, 0.5);
$footer-bg-color: #f2eee9;
$background-color: #FFFCF0;