$highlight-gray: #858585;
$shadow-gray: #b6b6b6;
$background-gray: #f9f9f9;
$tab-background: #e0e0e0;
$border-color: #dadada;
$background-green: #006724;
$icon-color: #ffffff;
$button-color: #be831d;
$text-color: #1d1d1d;
$link-color-secondary: #666;
$text-color-alt: #bc2848;
$background-dim: rgba(0, 0, 0, 0.25);
$hover-background-color: rgba(231, 238, 239, 0.9);
$text-color-secondary: #7b7b7b;
$link-color: #1c49c2;
$star-rating-color: #ff9800;
$button-dim-color: rgba(0, 0, 0, 0.5);
$footer-bg-color: #f2eee9;
$background-color: #fffcf0;
$bg-color-solarizedLight: #fffcef;
$btn-primary-color: #10891a;
$btn-primary-text-color: #ffffff;
