$background-color: #fffcf0;
$background-dim: rgba(0, 0, 0, 0.25);
$background-gray: #f9f9f9;
$background-green: #006724;
$bg-color-solarizedLight: #fffcef;
$border-color: #dadada;
$btn-color: #be831d;
$btn-dim-color: rgba(0, 0, 0, 0.5);
$btn-primary-color: #10891a;
$btn-primary-text-color: #ffffff;
$footer-bg-color: #f2eee9;
$highlight-gray: #858585;
$hover-background-color: rgba(231, 238, 239, 0.9);
$icon-color: #ffffff;
$link-color: #1c49c2;
$link-color-secondary: #666;
$shadow-gray: #b6b6b6;
$star-rating-color: #ff9800;
$tab-background: #e0e0e0;
$text-color: #1d1d1d;
$text-color-alt: #bc2848;
$text-color-light: #ffffff;
$text-color-secondary: #7b7b7b;
