%gray-and-indented {
	padding-left: 15px;
	font-size: 14px;
	color: $highlight-gray;
}
$font-stack-body: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu,
	Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
	Segoe UI Symbol;
